{% extends "layouts/one-column.html" %}

{% block main %}

<table class="data-curation">
  <thead>
    <tr>
      <th>User</th>
      <th>Trial</th>
      <th>File / URL</th>
      <th>Category</th>
      <th>Date</th>
      <th class="comments-col">Curator's comments</th>
    </tr>
  </thead>
  <tbody>
    {% for dataContribution in dataContributions %}
      {% if dataContribution.approved %}
        {% set status = "approve" %}
      {% elif dataContribution.approved === false %}
        {% set status = "reject" %}
      {% else %}
        {% set status = "" %}
      {% endif %}

    <tr class="{{ status }}">
      <td>
        {% if dataContribution.user %}
          {% if dataContribution.user.email %}
            <a href="mailto:{{ dataContribution.user.email }}">
              {{ dataContribution.user.name }}
            </a>
          {% else %}
            <span>Anonymous</span>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if dataContribution.trial_id %}
          <a href="/trials/{{ dataContribution.trial_id }}">
            {{ dataContribution.trial_id }}
          </a>
        {% endif %}
      </td>
      <td>
        {% if dataContribution.data_url %}
          <span>File: </span>
          <a href="{{ dataContribution.data_url }}">
            {{ dataContribution.filename }}
          </a><br/>
        {% endif %}
        {% if dataContribution.url %}
          <span>URL: </span>
          <a href="{{ dataContribution.url }}">
            {{ dataContribution.url }}
          </a>
        {% endif %}
      </td>
      <td>
        {{ categories | getAttributeById(dataContribution.document_category_id, 'group') }} /
        {{ categories | getAttributeById(dataContribution.document_category_id, 'name') | replace("''", "'") }}
      </td>
      <td>
        {{ dataContribution.created_at | formatDate }}
      </td>

      <td>
        <form action="/admin/data-contributions/{{ dataContribution.id }}" method="POST">
          <select id="document_category_id" name="document_category_id">
            <option value="" disabled selected>Select a new category (optional)</option>
            {% for group, categories in categories | sort(false, false, 'group') | groupby('group') %}
            <optgroup label="{{ group }}">
              {% for category in categories %}
                {% if category.id === dataContribution.document_category_id %}
                  <option selected value="{{ category.id }}">{{ category.name }}</option>
                {% else %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
              {% endfor %}
            </optgroup>
            {% endfor %}
          </select>
          <input name="trial_id" placeholder="Related trial ID (optional)" value="{{ dataContribution.trial_id }}">
          <textarea name="curation_comments" placeholder="Explain your decision.">{{ dataContribution.curation_comments }}</textarea>

          {% if dataContribution.approved === true %}
            <button type="submit" name="approved" value="true" class="save">Save</button>
            <button type="submit" name="approved" value="false" class="reject">Reject</button>
          {% elif dataContribution.approved === false %}
            <button type="submit" name="approved" value="false" class="save">Save</button>
            <button type="submit" name="approved" value="true" class="approve">Approve</button>
          {% else %}
            <button type="submit" name="approved" value="true" class="approve">Approve</button>
            <button type="submit" name="approved" value="false" class="reject">Reject</button>
          {% endif %}
        </form>
      </td>

    </tr>
    <tr class="comments {{ status }}">
      <td colspan="5">
        <b>Comments: </b>
        {% if dataContribution.curation_comments %}
          {{ dataContribution.comments }}
        {% else %}
          n/a
        {% endif %}
        {% if dataContribution.curation_comments %}
          <br><b>Curation comments: </b> {{ dataContribution.curation_comments }}
        {% endif %}
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
