<footer class="site-footer">
  <div>
    <a href="https://okfn.org/" class="footer-logo" rel="external">
        <img alt="Open Knowledge" src="/assets/images/ok-logo.png">
    </a>

    <div class="footer-links">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSew2Rsu5EY-SYODFzZCh2wMWKcbcJe5CQlMFoyH8shmIE1jfQ/viewform?entry.579116872={{currentURL}}" target="_blank" rel="external">
        Takedown request
      </a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc49nJx0Ie8q8b24yYNX2DrqIWN44P9DsF9k4Y_VkU7y81rFg/viewform?entry.783048384={{currentURL}}" target="_blank" rel="external">
        Flag an error
      </a>
    </div>

    <hr />

    <a class="cc" href="http://creativecommons.org/licenses/by/4.0/" rel="external">
        <span class="cc-by">CC BY</span>
    </a>
  </div>
</footer>
