<footer class="site-footer">
  <div>
    <a href="https://okfn.org/" class="footer-logo" rel="external" title="Open Knowledge International">
        <img alt="Open Knowledge" src="/assets/images/ok-logo.png">
    </a>
    <a href="https://cos.io" class="footer-logo" rel="external" title="Centre for Open Science">
        <img alt="Centre for Open Science" src="/assets/images/cos.png">
    </a>
    <a href="http://www.arnoldfoundation.org/" class="footer-logo" rel="external" title="Laura and John Arnold Foundation">
        <img alt="Laura and John Arnold Foundation" src="/assets/images/ljaf.png">
    </a>

    <div class="footer-links">
      <a href="/terms-of-use">
        Terms of use
      </a>
      <a href="/takedown?url={{currentURL | urlencode}}" rel="external">
        Takedown request
      </a>
      <a href="/flag-error?url={{currentURL | urlencode}}" rel="external">
        Flag an error
      </a>
      <a href="https://github.com/opentrials" rel="external">
        Source code
      </a>
    </div>

    <hr />

    <a class="cc" href="https://creativecommons.org/publicdomain/zero/1.0/" rel="external">
        CC-0
    </a>
  </div>
</footer>
