<footer class="site-footer">
  <div>
    <a href="https://okfn.org/" class="footer-logo" rel="external">
        <img alt="Open Knowledge" src="/assets/images/ok-logo.png">
    </a>

    <div class="footer-links">
      <a href="/takedown?url={{currentURL | urlencode}}" rel="external">
        Takedown request
      </a>
      <a href="/flag-error?url={{currentURL | urlencode}}" rel="external">
        Flag an error
      </a>
    </div>

    <hr />

    <a class="cc" href="http://creativecommons.org/licenses/by/4.0/" rel="external">
        <span class="cc-by">CC BY</span>
    </a>
  </div>
</footer>
