<header class="site-header">
  <div>
    <div id="ok-panel-wrapper" data-breakpoint="896px">
      <a class="white ok-ribbon" href="//okfn.org/"><img src="//a.okfn.org/html/oki/panel/assets/images/oki-ribbon.png" alt="Open Knowledge"></a>
    </div>

    <a href="/" class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.14 131.79">
        <path class="a" d="M33.57,0A33.61,33.61,0,0,0,0,33.58L0.1,98.21H0a33.57,33.57,0,1,0,67.14,0V33.57A33.61,33.61,0,0,0,33.57,0ZM59.24,50.16H51.37l0-16.48A17.61,17.61,0,0,0,33.83,16.09H33.37A17.61,17.61,0,0,0,15.78,33.68l0,32.21h43.4V98.21A25.66,25.66,0,0,1,8,100.53l-0.1-67A25.35,25.35,0,0,1,33.37,8.18h0.46A25.35,25.35,0,0,1,59.29,33.57Z"></path>
        <circle class="a" cx="33.57" cy="98.08" r="3.92"></circle>
        <rect class="a" x="31.58" y="100.12" width="3.98" height="7.96"></rect>
      </svg>
      <span class="title">
        OpenTrials
      </span>
      <span class="tagline">
        All the Data, on All the Trials, Linked
      </span>
    </a>

    <a class="show-menu" href="#menu">
      <span class="top-bar"></span>
      <span class="middle-bar"></span>
      <span class="bottom-bar"></span>
    </a>

    <nav id="menu">
      <ul>
        {% include "partials/main-menu.html"  %}
        {% if credentials %}
          <li class="mm-divider">
            {{ credentials.name }}
          </li>
          {% if credentials.role in ['curator', 'admin'] %}
            <li>
              <a href="/admin/data-contributions">
                Data contributions
              </a>
            </li>
          {% endif %}
          <li>
            <a href="/logout">
              Logout
            </a>
          </li>
        {% else %}
          <li class="mm-divider">
            Login
          </li>
          <li>
            <a href="/login/google">
              Google
            </a>
          </li>
          <li>
            <a href="/login/facebook">
              Facebook
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <nav>
      <ul class="main-nav">
        {% include "partials/main-menu.html"  %}
      </ul>
      <ul class="user-nav">
        {% if credentials %}
          <li class="more">
            <a>
              <img src="{{ credentials.email | gravatar }}">
              {{ credentials.name }}
            </a>
            <ul class="submenu">
              {% if credentials.role in ['curator', 'admin'] %}
                <li>
                  <a href="/admin/data-contributions">
                    Data contributions
                  </a>
                </li>
              {% endif %}
              <li class="logout">
                <a href="/logout">
                  Logout
                </a>
            </li>
          </li>
          </ul>
        {% else %}
          <li class="more">
            <a>Login</a>
            <ul class="submenu">
              <li>
                <a href="/login/google">Google</a>
              </li>
              <li>
                <a href="/login/facebook">Facebook</a>
              </li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
