<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" defer async></script>
<!--[if lte IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script src="{{ 'js/commons.min.js' | revPath }}"></script>
<script src="{{ 'js/vendor.min.js' | revPath }}"></script>
<script src="{{ 'js/main.min.js' | revPath }}"></script>
<![endif]-->

<!--[if gt IE 9 | !IE]><!-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js" defer></script>
<script src="{{ 'js/commons.min.js' | revPath }}" defer></script>
<script src="{{ 'js/vendor.min.js' | revPath }}" defer></script>
<script src="{{ 'js/main.min.js' | revPath }}" defer></script>
<!--<![endif]-->
