{% macro createSelectMultiple(name, label) %}
  <div>
    <label for="{{ name }}">{{ label }}</label>
    <div class="select">
      <select name="{{ name }}" style="width: 100%;" id="{{ name }}" multiple="multiple">
        {% if query[name] %}
          {% for item in query[name] %}
              <option value="{{ item }}" selected>
                {{ item }}
              </option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>
{% endmacro %}

<fieldset class="search-bar">
  <input type="search" title="Search" placeholder="Find a trial" name="q" value="{{ query.q }}" />
  <button type="submit"><span>Search</span></button>
</fieldset>
<div class="search-controls">
  <a class="toggle-advanced">Advanced search</a>

  {% if trials %}
    <ul class="breadcrumb">
      <li>
        <a href="/search">Search</a>
      </li>
      <li>
        Found {{ trials.total_count }} trial{% if trials.total_count != 1 %}s{% endif %}
      </li>
    </ul>
  {% endif %}
</div>
<fieldset class="advanced {% if advancedSearchIsVisible %}visible{% endif %}">
  {{ createSelectMultiple('condition', 'Conditions') }}
  {{ createSelectMultiple('intervention', 'Interventions') }}
  {{ createSelectMultiple('person', 'People') }}
  {{ createSelectMultiple('organisation', 'Organisations') }}
  {{ createSelectMultiple('location', 'Locations') }}

  <div class="two-columns-fields">
    <fieldset>
      <legend>Sample size</legend>
      <div>
        <input
          type="number"
          min="0"
          step="10"
          name="sample_size_start"
          placeholder="from"
          value="{{ query.sample_size_start }}"
        >
      </div>
      <div>
        <input
          type="number"
          min="0"
          step="10"
          name="sample_size_end"
          placeholder="to"
          value="{{ query.sample_size_end }}"
        >
      </div>
    </fieldset>
  </div>

  <div>
    <label for="gender">Gender</label>
    <div class="select">
      <select name="gender" id="gender">
        <option value="">All</option>
        {% for gender in ['male', 'female'] %}
          <option
            value="{{ gender }}"
            {% if query.gender == gender %}selected{% endif %}
            >
            Trials with {{gender}} participants
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div>
    <label for="has_published_results">Study results</label>
    <div class="select">
      <select name="has_published_results" id="has_published_results">
        <option value="">All</option>
        <option
          value="true"
          {% if query.has_published_results == 'true' %}selected{% endif %}
          >
          Trials with published results
        </option>
        <option
          value="false"
          {% if query.has_published_results == 'false' %}selected{% endif %}
          >
          Trials without published results
        </option>
      </select>
    </div>
  </div>

  <div class="two-columns-fields">
    <fieldset>
        <legend style="display:none;">Registration date period</legend>
        <div>
          <label for="registration_date_start">Registration period start date</label>
          <input
            type="date"
            data-format="dd/MMM/yyyy"
            class="form-control"
            name="registration_date_start"
            id="registration_date_start"
            placeholder="e.g. 2015-01-31"
            value="{{ query.registration_date_start }}">
        </div>
        <div>
          <label for="registration_date_end">Registration period end date</label>
          <input
            type="date"
            data-format="dd/MMM/yyyy"
            class="form-control"
            name="registration_date_end"
            id="registration_date_end"
            placeholder="e.g. 2016-01-31"
            value="{{ query.registration_date_end }}">
        </div>
    </fieldset>
  </div>

  <div class="controls">
    <button type="submit"><span>Search</span></button>
    {% if advancedSearchIsVisible %}
      <button id="clear-fieldset">Clear</button>
    {% endif %}
  </div>
</fieldset>
