{% macro createSelectMultiple(name, label, tip) %}
  <div class="filter">
    <label for="{{ name }}"{% if tip %} class="hastip" title="{{ tip }}"{% endif %}>{{ label }}</label>
    <div class="select">
      <select name="{{ name }}" style="width: 100%;" id="{{ name }}" multiple="multiple">
        {% if query[name] %}
          {% for item in query[name] %}
              <option value="{{ item }}" selected>
                {{ item }}
              </option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>
{% endmacro %}

<fieldset class="search-bar">
  <label
         for="q"
         class="hastip"
         title="This searches across ALL advanced fields below (including title, trial identifier, abstract, condition, intervention, people, organisation, locations)"
  >Trial title, identifier or other keywords</label>
  <input type="search" title="Search" placeholder="e.g. &quot;heart attack&quot;" name="q" value="{{ query.q }}" autofocus />
  <button type="submit"><span>Search</span></button>
</fieldset>
<div class="search-controls">
  <label
         class="hastip"
         title="Use one of the following filters to search just within that field (e.g. searching for 'cancer' within the 'Condition' filter will only return trials which include the word 'cancer' in its list of conditions)"
  ><a href="?advanced_search=true" class="toggle-advanced">Advanced search</a>
  </label>
</div>
<fieldset class="advanced {% if advancedSearchIsVisible %}visible{% endif %}">
  <div class="filter">
    <label
        for="condition"
        class="hastip"
        title="Disease, disorder, syndrome, illness or injury that is being studied."
    >Condition</label>
    <input title="condition" name="condition" value="{{ query.condition }}" />
  </div>

  <div class="filter">
    <label
        for="intervention"
        class="hastip"
        title="Process or action that is the focus of a clinical study. This can include giving participants drugs, medical devices, procedures, vaccines, and other products that are either investigational or already available. Interventions can also include noninvasive approaches such as surveys, education, and interviews."
    >Intervention</label>
    <input title="intervention" name="intervention" value="{{ query.intervention }}" />
  </div>

  <div class="filter">
    <label
           for="person"
           class="hastip"
           title="Principal Investigator or trial contact"
    >People</label>
    <input title="person" name="person" value="{{ query.person }}" />
  </div>

  <div class="filter">
    <label
           for="organisation"
           class="hastip"
           title="Trial sponsor and related organisations"
    >Organisation</label>
    <input title="organisation" name="organisation" value="{{ query.organisation }}" />
  </div>

  {{ createSelectMultiple('location', 'Locations', 'Recruitment country') }}

  <fieldset class="sample size filter">
    <legend>
      <label
             class="hastip"
             title="Number of participants the trial aims to recruit or has recruited"
      >Sample size</label>
    </legend>
    <div>
      <input
        type="number"
        min="0"
        step="10"
        name="sample_size_start"
        placeholder="from"
        value="{{ query.sample_size_start }}"
      >
    </div>
    <div>
      <input
        type="number"
        min="0"
        step="10"
        name="sample_size_end"
        placeholder="to"
        value="{{ query.sample_size_end }}"
      >
    </div>
  </fieldset>

  <div class="filter">
    <label for="gender"
           class="hastip"
           title="Gender of participants the trial aims to recruit or has recruited"
    >Gender</label>
    <div class="select">
      <select name="gender" id="gender">
        <option value="">All</option>
        {% for gender in ['male', 'female'] %}
          <option
            value="{{ gender }}"
            {% if query.gender == gender %}selected{% endif %}
            >
            Trials with {{gender}} participants
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="filter">
    <label for="has_published_results"
           class="hastip"
           title="If the trial has posted results"
    >Study results</label>
    <div class="select">
      <select name="has_published_results" id="has_published_results">
        <option value="">All</option>
        <option
          value="true"
          {% if query.has_published_results %}selected{% endif %}
          >
          Trials with published results
        </option>
        <option
          value="false"
          {% if query.has_published_results == false %}selected{% endif %}
          >
          Trials without published results
        </option>
      </select>
    </div>
  </div>

  <div class="filter">
    <label for="has_publications"
           class="hastip"
           title="If the trial has any publications on PubMed (found by searching PubMed article abstracts/metadata for the corresponding trial ID). At present this also includes trials with lay summaries available from the UK Health Research Authority (HRA)."
    >Publications</label>
    <div class="select">
      <select name="has_publications" id="has_publications">
        <option value="">All</option>
        <option
          value="true"
          {% if query.has_publications %}selected{% endif %}
          >
          Trials with publications
        </option>
        <option
          value="false"
          {% if query.has_publications == false %}selected{% endif %}
          >
          Trials without publications
        </option>
      </select>
    </div>
  </div>

  <div class="filter">
    <label for="source"
           class="hastip"
           title="Trial source (including secondary sources)"
           >
      Sources
    </label>
    <div class="select">
      <select name="source" style="width: 100%;" id="source" multiple="multiple">
        {% for item in sourcesList %}
          <option value="{{ item.id }}"
            {% if query.source and query.source.indexOf(item.id) != -1 %} selected {% endif %}
          >
            {{ item.name }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="filter">
    <label for="has_discrepancies"
           class="hastip"
           title="Trial data differences between registries for a particular trial (e.g. recruitment status, number of participants)"
    >Discrepancies</label>
    <div class="select">
      <select name="has_discrepancies" id="has_discrepancies">
        <option value="">All</option>
        <option
          value="true"
          {% if query.has_discrepancies %}selected{% endif %}
          >
          Trials with discrepancies
        </option>
        <option
          value="false"
          {% if query.has_discrepancies == false %}selected{% endif %}
          >
          Trials without discrepancies
        </option>
      </select>
    </div>
  </div>

  <fieldset class="registration date">
      <legend style="display:none;">Registration date period</legend>
      <div class="filter">
        <label for="registration_date_start"
               class="hastip"
               title="Find trials that were registered on or after this date."
        >Registration period start date</label>
        <input
          type="date"
          data-format="dd/MMM/yyyy"
          class="form-control"
          name="registration_date_start"
          id="registration_date_start"
          placeholder="e.g. 2015-01-31"
          value="{{ query.registration_date_start }}">
      </div>
      <div class="filter">
        <label for="registration_date_end"
               class="hastip"
               title="Find trials that were registered on or before this date."
        >Registration period end date</label>
        <input
          type="date"
          data-format="dd/MMM/yyyy"
          class="form-control"
          name="registration_date_end"
          id="registration_date_end"
          placeholder="e.g. 2016-01-31"
          value="{{ query.registration_date_end }}">
      </div>
  </fieldset>

  <div class="controls">
    <button type="submit"><span>Search</span></button>
    {% if advancedSearchIsVisible %}
      <button class="clear-form">Clear</button>
    {% endif %}
  </div>
</fieldset>
