{% macro createSelectMultiple(name, label, tip) %}
  <div class="filter">
    <label for="{{ name }}"{% if tip %} class="hastip" title="{{ tip }}"{% endif %}>{{ label }}</label>
    <div class="select">
      <select name="{{ name }}" style="width: 100%;" id="{{ name }}" multiple="multiple">
        {% if query[name] %}
          {% for item in query[name] %}
              <option value="{{ item }}" selected>
                {{ item }}
              </option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>
{% endmacro %}

<fieldset class="search-bar">
  <label>Trial title, identifier or other keywords</label>
  <input type="search" title="Search" placeholder="e.g. &quot;heart attack&quot;" name="q" value="{{ query.q }}" autofocus />
  <button type="submit"><span>Search</span></button>
</fieldset>
<div class="search-controls">
  <a href="?advanced_search=true" class="toggle-advanced">Advanced search</a>
</div>
<fieldset class="advanced {% if advancedSearchIsVisible %}visible{% endif %}">
  {{ createSelectMultiple('condition', 'Conditions', 'Disease, disorder, syndrome, illness or injury that is being studied.') }}
  {{ createSelectMultiple('intervention', 'Interventions', 'Process or action that is the focus of a clinical study. This can include giving participants drugs, medical devices, procedures, vaccines, and other products that are either investigational or already available. Interventions can also include noninvasive approaches such as surveys, education, and interviews.') }}
  {{ createSelectMultiple('person', 'People') }}
  {{ createSelectMultiple('organisation', 'Organisations') }}
  {{ createSelectMultiple('location', 'Locations') }}

  <fieldset class="sample size filter">
    <legend>Sample size</legend>
    <div>
      <input
        type="number"
        min="0"
        step="10"
        name="sample_size_start"
        placeholder="from"
        value="{{ query.sample_size_start }}"
      >
    </div>
    <div>
      <input
        type="number"
        min="0"
        step="10"
        name="sample_size_end"
        placeholder="to"
        value="{{ query.sample_size_end }}"
      >
    </div>
  </fieldset>

  <div class="filter">
    <label for="gender">Gender</label>
    <div class="select">
      <select name="gender" id="gender">
        <option value="">All</option>
        {% for gender in ['male', 'female'] %}
          <option
            value="{{ gender }}"
            {% if query.gender == gender %}selected{% endif %}
            >
            Trials with {{gender}} participants
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="filter">
    <label for="has_published_results">Study results</label>
    <div class="select">
      <select name="has_published_results" id="has_published_results">
        <option value="">All</option>
        <option
          value="true"
          {% if query.has_published_results %}selected{% endif %}
          >
          Trials with published results
        </option>
        <option
          value="false"
          {% if query.has_published_results == false %}selected{% endif %}
          >
          Trials without published results
        </option>
      </select>
    </div>
  </div>

  <div class="filter">
    <label for="has_publications">Publications</label>
    <div class="select">
      <select name="has_publications" id="has_publications">
        <option value="">All</option>
        <option
          value="true"
          {% if query.has_publications %}selected{% endif %}
          >
          Trials with publications
        </option>
        <option
          value="false"
          {% if query.has_publications == false %}selected{% endif %}
          >
          Trials without publications
        </option>
      </select>
    </div>
  </div>

  <div class="filter">
    <label for="is_registered">Registration</label>
    <div class="select">
      <select name="is_registered" id="is_registered">
        <option value="">All</option>
        <option
          value="true"
          {% if query.is_registered %}selected{% endif %}
          >
          Registered trials
        </option>
        <option
          value="false"
          {% if query.is_registered == false %}selected{% endif %}
          >
          Unregistered trials
        </option>
      </select>
    </div>
  </div>

  <div class="filter">
    <label for="has_discrepancies">Discrepancies</label>
    <div class="select">
      <select name="has_discrepancies" id="has_discrepancies">
        <option value="">All</option>
        <option
          value="true"
          {% if query.has_discrepancies %}selected{% endif %}
          >
          Trials with discrepancies
        </option>
        <option
          value="false"
          {% if query.has_discrepancies == false %}selected{% endif %}
          >
          Trials without discrepancies
        </option>
      </select>
    </div>
  </div>

  <fieldset class="registration date">
      <legend style="display:none;">Registration date period</legend>
      <div class="filter">
        <label for="registration_date_start">Registration period start date</label>
        <input
          type="date"
          data-format="dd/MMM/yyyy"
          class="form-control"
          name="registration_date_start"
          id="registration_date_start"
          placeholder="e.g. 2015-01-31"
          value="{{ query.registration_date_start }}">
      </div>
      <div class="filter">
        <label for="registration_date_end">Registration period end date</label>
        <input
          type="date"
          data-format="dd/MMM/yyyy"
          class="form-control"
          name="registration_date_end"
          id="registration_date_end"
          placeholder="e.g. 2016-01-31"
          value="{{ query.registration_date_end }}">
      </div>
  </fieldset>

  <div class="controls">
    <button type="submit"><span>Search</span></button>
    {% if advancedSearchIsVisible %}
      <button class="clear-form">Clear</button>
    {% endif %}
  </div>
</fieldset>
