{% if trials %}

  <h2>Most recent trials for {{ title }} ({{trials.total_count | formatNumber}} result{% if trials.total_count>1 %}s{% endif %})</h2>
  <section class="search-results">
    {% for trial in trials.items %}
    {% if loop.first %}<ol>{% endif %}
      <li>
        {% include "partials/trial-search-result-small.html" %}
      </li>
      {% if loop.last %}</ol>{% endif %}
    {% endfor %}
  </section>

  <h2>More results</h2>
  <p>
    OpenTrials has <a href="/search?{{ type }}={{ name }}">{{trials.total_count | formatNumber}} result{% if trials.total_count>1 %}s{% endif %}</a> for this {{ type }}, <a href="/search?{{ type }}={{ name }}">see all</a>.
  </p>
  <p>
    Search for this {{ type }} on <a href="http://www.google.com/search?q={{ name }}" rel="external">Google</a>.
  </p>

{% endif %}
