<!DOCTYPE html>
<html class="no-js home" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link href="{{ 'styles/vendor.min.css' | revPath }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />

    <link href="{{ 'styles/index.min.css' | revPath }}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="/assets/images/apple-touch-icon.png">
  </head>
  <body>
    <div class="page">
      {% include "partials/flash-messages.html" %}
      {% include "partials/header.html"  %}

      <main class="main">
        {% block main %}{% endblock %}
      </main>

      {% include "partials/footer.html"  %}
      {% include "partials/scripts.html" %}
    </div>
  </body>
</html>
