{% extends "layouts/one-column.html" %}

{% block breadcrumb %}
  <li><a href="/">Home</a></li>
  <li>{{ title | truncate(35) }}</li>
{% endblock %}

{% block main %}
<div class="video-wrapper">
  <iframe src="https://www.youtube.com/embed/8RxULD-8Gwg?feature=oembed" frameborder="0" allowfullscreen=""></iframe>
</div>
<p><em>See Ben Goldacre speaking about the OpenTrials project</em></p>

<p>
Open Knowledge is developing Open Trials, an open, online database of
information about the world’s clinical research trials. We are funded by The
Laura and John Arnold Foundation through the Center for Open Science. The
project, which is designed to increase transparency and improve access to
research, will be directed by Dr. Ben Goldacre, an internationally known leader
on clinical transparency.
</p>

<p>
OpenTrials is building a collaborative and open linked database for all
available structured data and documents on all clinical trials, threaded
together by individual trial. With a versatile and expandable data schema, it
is initially designed to host and match the following documents and data for
each trial:
</p>

<ul>
<li>Registry entries</li>
<li>Links, abstracts, or texts of academic journal papers</li>
<li>Portions of regulatory documents describing individual trials</li>
<li>Structured data on methods and results extracted by systematic reviewers or other</li>
<li>Researchers</li>
<li>Clinical Study Reports</li>
<li>Additional documents such as blank consent forms, blank case report forms, and protocols</li>
</ul>

<p>
The intention is to create an open, freely re-usable index of all such
information, to increase discoverability, facilitate research, identify
inconsistent data, enable audits on the availability and completeness of this
information, support advocacy for better data and drive standards around open
data in evidence-based medicine.
</p>

<p>
The project has phase one funding, allowing us to create a practical data
schema, and populate the database initially through web-scraping, basic
record-linkage techniques, crowd-sourced curation around selected drug areas,
and imports of existing structured and linked data. It will also allow us to
create user-friendly web interfaces onto the data, and conduct user engagement
workshops to optimise the database and interface designs. The first phase of
the Open Trials project is scheduled for completion in March 2017.
</p>

<p>
Where other projects have set out to manually and perfectly curate a narrow
range of information on a smaller number of trials, we aim to use a broader
range of techniques and attempt to match a very large quantity of information
on all trials. We are currently seeking feedback and additional sources of
structured data. Please get in touch with us at get in touch with us at <a
href="mailto:opentrials@okfn.org">opentrials@okfn.org</a> or <a
href="https://twitter.com/opentrials">@opentrials</a>.
</p>

<p>Press release announcement <a
href="http://opentrials.net/2015/04/21/open-knowledge-announce-plans-for-open-online-database-of-clinical-trials/">here</a>.</p>
{% endblock %}
