{% extends "layouts/one-column.html" %}

{% block breadcrumb %}
  <li><a href="/">Home</a></li>
  <li>{{ title | truncate(35) }}</li>
{% endblock %}

{% block scripts %}
<script src="{{ 'js/fileupload.min.js' | revPath }}" defer></script>
{% endblock %}

{% block main %}

<article>

  <p>
    You can upload a file or send us a link. By contributing data, you're
    agreeing with our <a href="/terms-of-use">Terms of Use</a>. The
    contributions will be moderated before being displayed on OpenTrials.
  </p>

  {% if not credentials %}
  <p>
    If you'd like to receive credit for your contribution, please log in via
    the "Login" link in the header. This will also allow us to contact you
    regarding any questions about the data.
  </p>
  {% endif %}

  <h2>Contribution form</h2>

  <form
    class="direct-upload"
    method="POST"
    data-url="{{ s3.action }}"
    >

    {% for name, value in s3.fields %}
      <input type="hidden" name="{{ name }}" value="{{ value }}" />
    {% endfor %}

    <label for="data">File (maximum {{ maxUploadSize | formatBytes }})</label>
    <input id="data" type="file" name="file" />

    <label for="url">Link</label>
    <input
      id="url"
      name="url"
      placeholder="It can be a link to the file you're uploading or just an interesting link, like a trial's webpage (e.g. http://www.somewhere.com/data.pdf)"
      />

    <label for="document_category_id">Category</label>
    <select id="document_category_id" name="document_category_id">
      <option value="" disabled selected>Which category best describes your contribution?</option>
      {% for group, categories in  categories | sort(false, false, 'group') | groupby("group") %}
      {% if group %}
      <optgroup label="{{ group }}">
      {% else %}
      <optgroup label="{{ category.name }}">
      {% endif %}
        {% for category in categories %}
        <option value="{{ category.id }}">
          {{ category.name | replace("''", "'") }}
        </option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>

    <label for="comments">Comments</label>
    <textarea
      id="comments"
      name="comments"
      placeholder="Tell us about what you're sending"
      ></textarea>

    <button type="submit">
      Submit
      <span class="progress-text"></span>
    </button>
  </form>

</article>

{% endblock %}
