{% extends "layouts/base.html" %}

{% set htmlClass = "home" %}

{% block main %}
  <form action="/search" method="get">
    <header>
      <h1>All the data, on all the trials</h1>
      <p>
        OpenTrials is a linked database for all the available information, on every trial ever conducted. It is built and updated with your help.
      </p>
    </header>

    <fieldset class="search-bar">
      <input type="search" title="Search" placeholder="Find trial by title, identifier or other keywords (e.g. &quot;heart attack&quot;)" name="q" value="{{ query.q }}" />
      <button type="submit"><span>Search</span></button>
    </fieldset>
    <div class="search-controls">
      <button type="submit"><span>Advanced search</span></button>
    </div>
  </form>
{% endblock %}
