{% extends "layouts/two-columns.html" %}

{% block breadcrumb %}
  <li><a href="/">Home</a></li>
  <li>{{ title | truncate(35) }}</li>
{% endblock %}

{% block main %}
<article>
  <h2>Abstract</h2>
  <p>
  {{ publication.abstract }}
  </p>

</article>

<aside>
  <ul class="actions">
    <a href="/contribute-data" class="upload">Contribute Data</a>
  </ul>

  <h2>Authors</h2>
  <ul>
    {% for author in publication.authors %}
      <li>{{ author }}</li>
    {% endfor %}
  </ul>

  <h2>Source</h2>
  <p>
    <a href="{{ publication.source_url }}">{{ publication.source.name }}</a>
  </p>

</aside>
{% endblock %}
