{% extends "layouts/one-column.html" %}

{% block banner %}
  <form action="/search" method="get">
    {% include "partials/search-form-fields.html" %}
  </form>
{% endblock %}

{% block main %}
  <section class="search-results">
    {% if trials.items.length > 0 %}
      {% for trial in trials.items %}
        {% if loop.first %}<ol>{% endif %}
        <li>
          {% include "partials/trial-search-result.html" %}
        </li>
        {% if loop.last %}</ol>{% endif %}
      {% endfor %}

      {% include "partials/search-pagination.html" %}
    {% else %}
      No trials found.
    {% endif %}
  </section>
{% endblock %}
