{% extends "layouts/one-column.html" %}

{% block banner %}
  <header>
    <h1>Explore</h1>
    Find trial by title and other identifiers
  </header>
  {% if trials %}
    {% if trials.total_count == 1 %}
      {% set trials_count = '1 trial' %}
    {% else %}
      {% set trials_count = trials.total_count | formatNumber + ' trials' %}
    {% endif %}
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      {% if query.q %}
        <li><a href="/search">Search</a></li>
        <li>{{ query.q }} ({{ trials_count }})</li>
      {% else %}
        <li>Search ({{ trials_count }})</li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}

{% block main %}
  <section class="filters">
    <form action="/search" method="get">
      {% include "partials/search-form-fields.html" %}
    </form>
  </section>
  <section class="search-results">
    {% if trials.items.length > 0 %}
      <section class="sort-order-info">
        Results ordered by trial registration date, descending.
      </section>
      {% for trial in trials.items %}
        {% if loop.first %}<ol>{% endif %}
        <li>
          {% include "partials/trial-search-result.html" %}
        </li>
        {% if loop.last %}</ol>{% endif %}
      {% endfor %}

      {% include "partials/search-pagination.html" %}
    {% else %}
      No trials found.
    {% endif %}
  </section>
{% endblock %}
