{% extends 'layouts/base.html' %}

{% block main %}
  <form action="/search" method="get">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Query" name="q" label="Search" value="{{ query.q }}">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">Search</button>
      </span>
    </div>
    <div class="input-group">
      <label class="control-label" for="location">Location</label>
      <select class="form-control" name="location">
        <option></option>
        {% for location in locations %}
            <option
              value="{{ location.name }}"
              {% if query.location == location.name %}selected{% endif %}
              >
              {{ location.name }}
            </option>
        {% endfor %}
      </select>
    </div>
  </form>
  {% if trials %}
  <section class="search-results">
    <h1>Results</h1>
    Found {{ trials.total_count }} trials.
    <nav>
      {% include "partials/search-pagination.html" %}
    </nav>

    {% for trial in trials.items %}
      {% if loop.first %}<ol>{% endif %}
      <li>
        {% include "partials/trial-search-result.html" %}
      </li>
      {% if loop.last %}</ol>{% endif %}
    {% endfor %}

    <nav>
      {% include "partials/search-pagination.html" %}
    </nav>
  {% endif %}
  </section>
{% endblock %}
