{% extends "layouts/one-column.html" %}

{% block main %}
<article class="result">
  <div class="stats-node">
    <h3>Number of trials: <span id="trialsCount">{{stats.trialsCount | formatNumber}}</span></h3>
  </div>

  <div class="stats-node">
    <h3>Number of trials per source:</h3>
    <ul class="meta" id="trialsPerSource">
      {% for trialPerRegistry in stats.trialsPerSource %}
      <li>
        <dt>{{ trialPerRegistry.name }}</dt>
        <dd>{{ trialPerRegistry.count | formatNumber }}</dd>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="stats-node">
    <h3>Number of trials per year:</h3>
    <ul class="meta" id="trialsPerYear">
      {% for trialPerYear in stats.trialsPerYear %}
      <li>
        <dt>{{ trialPerYear.year }}</dt>
        <dd>{{ trialPerYear.count | formatNumber }}</dd>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="stats-node">
    <h3>Top 10 locations with most trials:</h3>
    <ul class="meta" id="topLocation">
      {% for topLocation in stats.topLocations %}
      <li>
        <dt>{{ topLocation.name }}</dt>
        <dd>{{ topLocation.count | formatNumber }}</dd>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="stats-node">
    <h3>Date when we updated each registry: </h3>
    <ul class="meta" id="updatedRegistry">
      {% for sourceLatestUpdatedDate in stats.sourcesLatestUpdatedDate %}
      <li>
        <dt>{{ sourceLatestUpdatedDate.name }}</dt>
        <dd>{{ sourceLatestUpdatedDate.latest_updated_date | formatDate }}</dd>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
