{% extends "layouts/one-column.html" %}

{% block breadcrumb %}
  <li><a href="/">Home</a></li>
  <li>{{ title | truncate(35) }}</li>
{% endblock %}

{% block main %}
<article class="result">
  <iframe id="stats-deduplicated" scrolling="no"
          src="https://query.opentrials.net/embed/query/10/visualization/12?api_key=28b9e757367a91d395ee4444e9a168742b332ca0"
  ></iframe>
  <iframe id="stats-registered" scrolling="no"
          src="https://query.opentrials.net/embed/query/15/visualization/20?api_key=d4dfba385b7332c5c62b08438944968991f9e682"
  ></iframe>
</article>
{% endblock %}

