{% extends "layouts/one-column.html" %}

{% block main %}
<article class="record-data">
{% if not trial.discrepancies %}
There are no discrepancies in this Trial's records.
{% else %}
<dl>
  {% for field, discrepantRecords in trial.discrepancies %}
    <dt id="{{ field }}">{{ field | underscoresToCapitalized }}<dt>
    <dd>
      <dl>
      {% for record in discrepantRecords %}
        <dt>
          <a href="/trials/{{ trial.id }}/records/{{ record.record_id }}">
            {{ record.source_name }}
          </a>
        </dt>
        <dd>{{ record.value }}</dd>
      {% endfor %}
      </dl>
    <dd>
  {% endfor %}
</dl>
{% endif %}
</article>
{% endblock %}
