{% extends "layouts/two-columns.html" %}

{% block bannerFooter %}
  <ul class="overview-list">
    <li>
      <span class="date">
        Registration: {{ trial.registration_date | formatDate }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block main %}
<article>
  <h2>Conditions</h2>
  <ul class="overview-list">
    {% for problem in trial.problems %}
      <li><a href="/problems/{{ problem.attributes.id }}">{{ problem.attributes.name }}</a></li>
    {% endfor %}
  </ul>

  <h2>Treatments</h2>
  <ul class="overview-list">
    {% for intervention in trial.interventions %}
      <li><a href="/interventions/{{ intervention.attributes.id }}">{{ intervention.attributes.name }}</a></li>
    {% endfor %}
  </ul>

  <h2>Lay summary</h2>
  <p>
    {{ trial.brief_summary }}
  </p>
</article>

<aside>
  <ul class="actions">
    <li>
      <a href="{{ trial.url }}" class="download">Download JSON</a>
      <a href="{{ contributeDataUrl }}" class="upload">Contribute Data</a>
    </li>
  </ul>

  <h2>Conducted in</h2>
  <dl>
    {% for location in trial.locations %}
      <dt>{{ location.attributes.name }}</dt>
      <dd>{{ location.role | underscoresToCapitalized }}</dd>
    {% endfor %}
  </dl>

  <h2>Related Persons</h2>
  <dl>
    {% for person in trial.persons %}
      <dt><a href="/persons/{{ person.attributes.id }}">{{ person.attributes.name }}</a></dt>
      <dd>{{ person.role | underscoresToCapitalized }}</dd>
    {% endfor %}
  </dl>

  <h2>Related Organisations</h2>
  <dl>
    {% for organisation in trial.organisations %}
      <dt><a href="/organisations/{{ organisation.attributes.id }}">{{ organisation.attributes.name }}</a></dt>
      <dd>{{ organisation.role | underscoresToCapitalized }}</dd>
    {% endfor %}
  </dl>

  <h2>Sources</h2>
  <dl>
    {% for record in trial.records %}
      <dt>{{ record.source.name }}</dt>
      <dd>
        Last updated on
        <a href="/trials/{{ trial.id }}/records/{{ record.id }}">
          <time datetime="{{ record.updated_at }}">
            {{ record.updated_at | formatDate }}
          </time>
        </a>
      </dd>
    {% endfor %}
  </dl>
</aside>
{% endblock %}
