<footer class="site-footer">
  <div>
    <a href="https://okfn.org/" class="footer-logo" rel="external" title="Open Knowledge International">
        <img alt="Open Knowledge" src="/assets/images/ok-logo.png">
    </a>

    <div class="footer-links">
      <a href="https://okfn.org/privacy-policy/">
        Privacy policy
      </a>
      <a href="https://okfn.org/terms-of-use/">
        Terms of use
      </a>
      <a href="https://explorer.opentrials.net/takedown?url={{currentURL | urlencode}}" rel="external">
        Takedown request
      </a>
      <a href="https://explorer.opentrials.net/flag-error?url={{currentURL | urlencode}}" rel="external">
        Flag an error
      </a>
      <a href="https://github.com/opentrials" rel="external">
        Source code
      </a>
      <a href="https://opentrials.net/api">
        API
      </a>
    </div>

    <hr />

    <a class="cc" href="https://creativecommons.org/publicdomain/zero/1.0/" rel="external">
        CC-0
    </a>
  </div>
</footer>

