{% macro addSelectOption(value, currentValues) %}
  {% if currentValues and value in currentValues %}
    {% set selected=true %}
  {% endif %}
  <option
    value="{{ value }}"
    {% if selected %}selected{% endif %}
    >
    {{ value }}
  </option>
{% endmacro %}

<fieldset class="search-bar">
  <label>Drug, ingredients, or other keywords</label>
  <input type="search" title="Search" placeholder="e.g. &quot;aspirin&quot;" name="q" value="{{ query.q }}" autofocus />
  <button type="submit"><span>Search</span></button>
</fieldset>

<div class="search-controls">
  <a href="?advanced_search=true" class="toggle-advanced">Advanced search</a>
</div>

<fieldset class="advanced {% if advancedSearchIsVisible %}visible{% endif %}">
  <label for="text" class="hastip" title="Search inside the text of the document">
    Document text
  </label>
  <input type="search" title="Document's text" placeholder="e.g.  &quot;Schizophrenia&quot;" id="text" name="text" value="{{ query.text }}" />

  <label for="drug" class="hastip" title="It is best to use this field to search for the BRAND NAME of the treatment.

Unfortunately &quot;drug&quot; is used inconsistently by the FDA in the underlying data which OpenTrialsFDA searches across: for a New Drug Application (NDA) or a Biologic License Application (BLA), the FDA put brand names in &quot;drug&quot; and generic drug names in &quot;active ingredients&quot; but for Abbreviated New Drug Applications (ANDA), or rather generic approvals, it seems that the FDA put brand names and active ingredients in both fields, and certainly both into the &quot;drug&quot; field. The FDA data is therefore dirty, and we will aim to clean it over time.">
    Drug
  </label>
  <input type="search" title="Drug" placeholder="e.g. &quot;Botox&quot;" id="drug" name="drug" value="{{ query.drug }}" />

  <label for="active_ingredients" class="hastip" title="It is best to use this field to search for the GENERIC NAME of the treatment.

Unfortunately &quot;drug&quot; is used inconsistently by the FDA in the underlying data which OpenTrialsFDA searches across: for a New Drug Application (NDA) or a Biologic License Application (BLA), the FDA put brand names in &quot;drug&quot; and generic drug names in &quot;active ingredients&quot; but for Abbreviated New Drug Applications (ANDA), or rather generic approvals, it seems that the FDA put brand names and active ingredients in both fields, and certainly both into the &quot;drug&quot; field. The FDA data is therefore dirty, and we will aim to clean it over time.">
    Active Ingredients
  </label>
  <input type="search" title="Active Ingredients" placeholder="e.g.  &quot;OnabotulinumtoxinA&quot;" id="active_ingredients" name="active_ingredients" value="{{ query.active_ingredients }}" />

  <div class="filter">
    <label for="document_name" class="hastip" title="Data on drug efficacy can be found in medical reviews and statistical reviews. Data on human drug safety can also be found in medical reviews.">
      Document Type
    </label>
    <div class="select">
      {% set documentTypes = ['Approval Letter', 'Chemistry Review', 'Label', 'Letter', 'Medical Review', 'Microbiology Review', 'Pharmacology Review', 'Printed Labeling', 'Results', 'Review', 'Statistical Review'] %}

      <select name="name" id="document_name" multiple="multiple">
        {% for documentType in documentTypes | sort %}
          {{ addSelectOption(documentType, query['name']) }}
        {% endfor %}

        {% for type in query['name'] %}
          {% if type not in documentTypes %}
            {{ addSelectOption(type, query['name']) }}
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="filter">
    <label for="application_type" class="hastip" title="The FDA applications types are New Drug Application (NDA), that provides data on drug efficacy and safety; Abbreviated New Drug Application (ANDA), which is for generic drugs, will focus on bioequivalence to the original brand name drug, and; Biologic License Application (BLA), that contain information regarding biological products such as vaccines, blood and blood components, etc.">
      Application Type
    </label>
    <div class="select">
      <select name="application_type" id="application_type" multiple="multiple">
        {{ addSelectOption("NDA", query["application_type"]) }}
        {{ addSelectOption("ANDA", query["application_type"]) }}
        {{ addSelectOption("BLA", query["application_type"]) }}
      </select>
    </div>
  </div>

  <label for="application_id" class="hastip" title="The application identifier is the application type joined with the FDA application number">
    Application ID
  </label>
  <input type="search" title="Application ID" placeholder="e.g.  &quot;NDA000000&quot;" id="application_id" name="application_id" value="{{ query.application_id }}" />

  <fieldset class="registration date">
      <legend style="display:none;">Action period</legend>
      <div class="filter">
        <label for="action_date_start">Start date</label>
        <input
          type="date"
          data-format="dd/MMM/yyyy"
          class="form-control"
          name="action_date_start"
          id="action_date_start"
          placeholder="e.g. 2015-01-31"
          value="{{ query.action_date_start }}">
      </div>
      <div class="filter">
        <label for="action_date_end">End date</label>
        <input
          type="date"
          data-format="dd/MMM/yyyy"
          class="form-control"
          name="action_date_end"
          id="action_date_end"
          placeholder="e.g. 2016-01-31"
          value="{{ query.action_date_end }}">
      </div>
  </fieldset>

  <div class="controls">
    <button type="submit"><span>Search</span></button>
    {% if advancedSearchIsVisible %}
      <button class="clear-form">Clear</button>
    {% endif %}
  </div>
</fieldset>
