.home {
  background-color: $blue;

  body {
    color: #fff;
    background-color: $blue;

    @include MQ(L) {
      background-color: transparent;
    }
  }

  a {
    color: inherit;
  }

  .site-header {
    background-color: #fff;
  }

  @include MQ(L) {
    @include retina-image("../images/banner", 913px 765px, jpg);
    background-position: right top;
    background-repeat: no-repeat;

    .site-header {
      background-color: transparent;
      color: #fff;

      & > div {
        .logo {
          color: inherit;
          svg {
            fill: currentColor;
          }
          .tagline {
            color: inherit;
          }
        }

        a {
          color: inherit;

          &.search {
            background-color: #fff;
            color: $blue;
          }
        }
      }
    }

    .site-footer {
      background-color: transparent;
    }
  }

  main {
    text-align: center;

    header {

      @include MQ(M) {
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
      }

      h1 {
        font-weight: normal;
        border: none;
        padding: 0;
        margin-bottom: 0.4em;
      }

      p {
        @include MQ(L) {
          font-size: em(22);
        }
      }
    }

    form {
      input {
        color: $base-font-color;
      }

      .search-bar {
        input[type="search"] {
          @include MQ(L) {
            font-size: em(22);
          }
        }
      }

      .toggle-advanced {
        float: none;

        @include MQ(M) {
          font-size: em(18);
        }

        &:after {
          @include icon-font();
          content: "\e602";
          display: block;
          font-size: 1.5em;
        }
      }

    }
  }

  &:not(.advanced-search) {

    @media only screen and (min-width: $medium-screen) and (min-height: 768px) {
      height: 100%;

      body {
        height: 100%;

        .page {
          height: 100%;
        }

        main {
          height: 100%;
          display: table;
          top: -100px;
          position: relative;
          z-index: -1;
          padding: $small-spacing;

          form {
            display: table-cell;
            vertical-align: middle;
          }
        }

        .site-footer {
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }

  @media only screen and (min-width: $medium-screen) and (min-height: 900px) {
    height: 100%;

    body {
      height: 100%;

      .page {
        height: 100%;
      }

      main {
        height: 100%;
        display: table;
        top: -100px;
        position: relative;
        z-index: -1;
        padding: $small-spacing;

        form {
          display: table-cell;
          vertical-align: middle;
        }
      }

      .site-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

.stats-node {
  margin: 0px 20px 30px 20px;
}
