.home {
  background-color: $blue;

  body {
    color: #fff;
    background-color: $blue;

    @include MQ(L) {
      background-color: transparent;
    }
  }

  a {
    color: inherit;
  }

  .site-header {
    background-color: #fff;
  }

  @include MQ(L) {
    background-image: url("../images/banner.jpg");
    background-position: right top;
    background-repeat: no-repeat;

    .site-header {
      background-color: transparent;
      color: #fff;

      & > div {
        .logo {
          color: inherit;
          svg {
            fill: currentColor;
          }
          .tagline {
            color: inherit;
          }
        }

        a {
          color: inherit;

          &.search {
            background-color: #fff;
            color: $blue;
          }
        }
      }
    }

    .site-footer {
      background-color: transparent;
    }
  }

  .main {
    text-align: center;

    header {

      @include MQ(M) {
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
      }

      h1 {
        font-weight: normal;
        border: none;
        padding: 0;
        margin-bottom: 0.4em;
      }

      p {
        @include MQ(L) {
          font-size: em(22);
        }
      }
    }

    form {
      input {
        color: $base-font-color;
      }

      .search-bar {
        position: relative;

        input[type="search"] {
          padding: 1em 3.5em 1em 1.5em;

          @include MQ(M) {
            font-size: em(18);
            border-radius: 5px;
          }

          @include MQ(L) {
            font-size: em(22);
          }

          + button {
            position: absolute;
            top: 50%;
            right: 1em;
            width: 3em;
            height: 3em;
            margin-top: -2em;
            background-color: transparent;
            color: $base-font-color;

            span {
              @include hide-text;
              display: block;
            }

            &:before {
              @include icon-font();
              content: "\e904";
              font-size: 3em;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
            }
          }
        }
      }

      .toggle-advanced {
        display: inline-block;
        cursor: pointer;

        @include MQ(M) {
          font-size: em(18);
        }

        &:after {
          @include icon-font();
          content: "\e602";
          display: block;
          font-size: 1.5em;
        }
      }

      .advanced {
        & > div {
          @include MQ(M) {
            @include span-columns(4);
            @include omega(3n);
          }

          label {
            text-align: left;
            font-weight: normal;
          }

          &.sample-size {
            & > div {
              @include MQ(M) {
                @include span-columns(2 of 4);
              }
            }
          }
        }

        button {
          background-color: #fff;
          color: $blue;
          display: block;
          margin-top: $base-spacing;
          clear: both;
          width: 100%;
          padding: 1em 3.5em;

          @include MQ(M) {
            display: inline-block;
            width: auto;
          }
        }
      }
    }
  }

  &:not(.advanced-search) {

    @media only screen and (min-width: $medium-screen) and (min-height: 768px) {
      height: 100%;

      body {
        height: 100%;

        .page {
          height: 100%;
        }

        .main {
          height: 100%;
          display: table;
          top: -100px;
          position: relative;
          z-index: -1;
          padding: $small-spacing;

          form {
            display: table-cell;
            vertical-align: middle;
          }
        }

        .site-footer {
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }
  }

  @media only screen and (min-width: $medium-screen) and (min-height: 900px) {
    height: 100%;

    body {
      height: 100%;

      .page {
        height: 100%;
      }

      .main {
        height: 100%;
        display: table;
        top: -100px;
        position: relative;
        z-index: -1;
        padding: $small-spacing;

        form {
          display: table-cell;
          vertical-align: middle;
        }
      }

      .site-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }

  &.js {
    .advanced {
      display: none;
    }
  }
}
