@import '_constants';

.search-results nav {
  text-align: center;
}

.pagination li a,
.pagination li a:hover {
  color: $blue;
}

.pagination .active a {
  pointer-events: none;
  background-color: $blue;
  border-color: $blue;
}
