.search-results nav {
  text-align: center;
}

.pagination {
  ol {
    display: inline-block;
  }

  li {
    display: inline;

    a {
      color: $blue;
      position: relative;
      float: left;
      padding: 6px 12px;
      border: $base-border;

      &:hover {
        background-color: $light-gray;
      }
    }
  }

  .active a {
    pointer-events: none;
    background-color: $blue;
    border-color: $blue;
    color: #fff;
  }
}
