.filters {
  font-size: 0.9em;

  .advanced {
    display: none;

    &.visible {
      display: block;
    }
  }

  .search-bar {
    background-color: rgba($blue, 0.1);
    padding: $small-spacing $base-spacing;
    margin: 0 (-$base-spacing) 1px (-$base-spacing);

    label {
      display: inline-block;
    }
  }

  .search-controls {
    padding-top: $base-spacing;
    padding-bottom: $small-spacing/2;
    border-bottom: solid 1px $light-gray;
  }

  .filter {
    padding: $small-spacing $base-spacing;
    margin: 0 (-$base-spacing) 1px (-$base-spacing);

    label {
      display: inline-block;
    }

    legend {
      float: left;
      @include clearfix;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  .select {
    &:after {
      top: 0.85em;
    }
  }

  @include MQ(L) {
    @include span-columns(3);
    padding-top: $base-spacing /2;

    .toggle-advanced {
      pointer-events: none;
      color: inherit;
    }
    .advanced {
      display: block;
    }
  }
}

.search-results {
  & > ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

main {
  & > .search-results {
    @include MQ(L) {
      @include span-columns(8);
      @include shift(1);
    }
  }
}

.result,
.result-small {
  padding-top: $base-spacing /2;
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing /2;
  border-bottom: solid 1px $light-gray;

  .title {
    font-size: em(16);
    border: 0;
    margin: auto;
    line-height: 1.3;

    @include MQ(L) {
      font-size: em(22);
    }
  }

  .follow {
    color: $medium-gray;
    cursor: pointer;

    @include MQ(L) {
      float: right;
    }

    span {
      @include hide-text;
      width: 0;
      height: 0;
      display: block;
    }

    &:before {
      @include icon-font();
      content: "\e90c";
      font-size: 1.4em;
      display: inline-block;
      margin-top: 0.3em;
    }
  }

  .meta {
    font-size: em(14);
    line-height: 1.8;
    padding: 0;
    margin: 0;

    dt {
      span {
        @include hide-text;
        display: inline-block;
        width: 0;
      }
    }

    &.status {
      padding-bottom: $small-spacing;

      dt,
      dd {
        display: inline-block;
        margin-top: 0;
      }

      dt {
        &.date {
          &:before {
            @include icon-font();
            @include icon-calendar;
          }
        }
        &.progress {
          padding-left: $base-spacing;
          &:before {
            @include icon-font();
            @include icon-hourglass;
          }
        }
        &.recruitment {
          padding-left: $base-spacing;
          &:before {
            @include icon-font();
            @include icon-recruiting;
          }
        }
        &.identifier {
          padding-left: $base-spacing;
          &:before {
            @include icon-font();
            @include icon-eye;
          }
        }
      }
    }

    &.lists {
      margin-top: $base-spacing;

      @include MQ(L) {
        display: table;

        dt,
        dd {
          display: table-cell;
        }
        width: 100%;

        dt {
          width: 10%;
        }
        dd {
          width: 40%;

          ul {
            margin-right: $base-spacing;
          }
          &:last-of-type {
            ul {
              margin-right: 0;
            }
          }
        }
      }
    }

    a {
      color: inherit;
    }
  }
}

.result-small {
  padding-bottom: $base-spacing * 0.75;

  h2.title  {
    font-size: em(16);

    @include MQ(L) {
      font-size: em(18);
      font-weight: normal;
    }
  }
}

li:last-child {
  .result,
  .result-small {
    border: none;
  }
}

.pagination {
  text-align: center;
}
