{% extends "layouts/base.html" %}


{% block header %}
    <div class="ribbon">
      <a href="http://opentrials.net/2017/01/10/opentrialsfda-voted-into-top-3-of-open-science-prize/" rel="external" title="OpenTrialsFDA voted into top 3 of Open Science Prize">
        OSP finalist
      </a>
    </div>
  {% include "fda/partials/header.html" %}
{% endblock %}

{% block footer %}
  <link href="{{ 'styles/fda.min.css' | revPath }}" rel="stylesheet">
  {% include "fda/partials/footer.html"  %}
{% endblock %}
