#{$all-buttons},
.actions a {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }

  &.upload,
  &.download,
  &.follow,
  &.unfollow,
  &.flag,
  &.discrepancies {
    padding-left: $base-spacing * 0.75;
    text-indent: 1em;
    position: relative;

    &:before {
      @include icon-font();
      font-size: em(22);
      position: absolute;
      margin-top: - em(2);
      text-indent: 0;
      left: 0.5em;
    }
  }

  &.upload {
    &:before {
      content: "\e90a";
    }
  }

  &.download {
    &:before {
      content: "\e909";
    }
  }

  &.follow {
    &:before {
      content: "\e90c";
    }
  }

  &.unfollow {
    &:before {
      content: "\e90b";
    }
  }

  &.flag {
    &:before {
      content: "\e910";
    }
  }

  &.discrepancies {
    &:before {
      @include icon-discrepancy;
    }
  }
}

.actions a {
  display: block;
  margin-top: $small-spacing;
}
