.data-curation {
  font-size: .8em;

  td {
    padding: .5em;
    word-wrap: break-word;
  }

  td,
  th,
  tr {
    vertical-align: top;
    overflow: hidden;
    border-bottom: 0;

    &.unmoderated {
      background-color: transparent;
    }
    &.approve {
      background-color: rgba($success-colour, .1);
    }
    &.reject {
      background-color: rgba($error-colour, .1);
    }
    &.comments {
      border-bottom: $base-border;
    }
  }

  .comments-col {
    width: 25%;
  }

  button {
    display: inline-block;
    width: 100%;

    @media only screen and (min-width: $large-screen) {
      width: 48%;
    }
  }

  .approve {
    background-color: $success-colour;
  }

  .reject {
    background-color: $error-colour;
  }
}
