.data-curation {
  font-size: .8em;

  button {
    &.approve {
      background-color: $success-colour;
    }

    &.reject {
      background-color: $error-colour;
    }
  }

  .data-contribution {
    @include outer-container;
    padding: $base-spacing;

    .data-contribution-attributes {
      @include MQ(L) {
        @include span-columns(8 of 12);
      }
    }
    .controls {
      @include MQ(L) {
        @include span-columns(3 of 12);
      }
    }

    &.approve {
      background-color: rgba($success-colour, .1);
    }

    &.reject {
      background-color: rgba($error-colour, .1);
    }

    dl,
    dl > dt:first-child {
      margin-top: 0;
    }
  }

  ol {
    padding: 0;
    list-style: none;

    li {
      border-bottom: solid 1px $light-gray;
      padding-bottom: $base-spacing;
      margin-bottom: $base-spacing;
    }

    & > :last-child {
      border-bottom: none;
    }
  }
}
