@import 'constants';

.clearfix {
  clear: both;
}

.fda-container {
  border: 1px solid #E7FBF2;
  margin-bottom: 5px;

  .fda-header {
    background-color: #E7FBF2;
    height: 30px;
    padding: 0;
    cursor: pointer;
    user-select: none;

    .fda-logo {
      display: inline-block;
      padding: 0;
      width: 70px;
      height: 30px;
      background-color: #14C885;
      background-image: url('/assets/images/fda-logo.png');
      background-position: 5px;
      background-repeat: no-repeat;
    }
    .fda-title {
      display: table-cell;
      vertical-align: middle;
      color: #14C885;
      display: inline-block;
      margin-left: 5px;
      margin-top: -8px;
      font-weight: bold;

    }
  }

  .fda-content {
    .fda-details {
      margin: 1.5em;
      display: inline-block;
      width: 70%;

      .fda-documents-details {
        margin-bottom: 2em;
        ul {
          list-style: none;
          padding: 0;
        }
      }
      .fda-documents-list {
        list-style: none;
        .fda-document {
          margin-bottom: 2em;
          .fda-document-title {
            display: inline-block;
            font-weight: bold;
            color: $base-font-color;
          }
          .fda-document-link {
            color: #14c885;
            font-weight: bold;
          }
          .fda-document-preview {
            font-family: $base-font-family;
            font-size: .8em;
          }
        }
      }
    }
    .fda-source-container {
      margin: 1.5em;
      float: right;
      width: 20%;
      background-color: #E7FBF2;

      .fda-source-title {
        margin: 0 auto;
        padding: 1em;
      }

      .fda-source-list {
        list-style: none;
        padding: 0;

        .fda-source-item {
          padding: 1em;
          border-bottom: 1px solid #EEE;
          color: $base-font-color;
          a {
            color: $base-font-color;
          }
        }
      }
}
  }
}

/* Expander set up */

.expander-hidden::before {
  @include icon-font();
  @include icon-chevron-thin-down();
  color: #14C885;
  font-weight: bold;
  float: right;
  margin: 6px;
  transform: rotate(270deg) !important;
}

.expander-trigger::before {
  @include icon-font();
  @include icon-chevron-thin-down();
  color: #14C885;
  font-weight: bold;
  float: right;
  margin: 6px;
}

.expander-hidden + .expander-content {
  display: none;
}


/* Tooltips set up */

.tooltip-item {
  $base-border-radius: 3px !default;
  $tooltip-arrow-width: 8px;
  $tooltip-shadow: 0 2px 2px silver;
  $tooltip-distance-from-item: 3em;
  $tooltip-arrow-distance-from-box: -1.3em;

  display: inline-block;
  position: relative;
  text-align: center;

  &:focus,
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    @include position(absolute, null 0 $tooltip-distance-from-item 0);
    left: -9em;
    background: #fff;
    border-radius: $base-border-radius;
    box-shadow: $tooltip-shadow;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 auto;
    width: 20em;
    opacity: 0;
    padding: 1em;
    text-align: center;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    z-index: 10;

    p {
      line-height: 1.5em;
      margin: 0;
    }

    &::after {
      @include position(absolute, null 0);
      border: $tooltip-arrow-width solid transparent;
      bottom: $tooltip-arrow-distance-from-box;
      color: #fff;
      content: "▼";
      font-size: 1.4em;
      margin-left: -$tooltip-arrow-width;
      text-align: center;
      text-shadow: $tooltip-shadow;
    }
  }
}