@import "constants";

.flash-message {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $top-z-index;
  color: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
  @include keyframes(slideIn) {
    from {
      top: -50%;
    }
    to {
      top: 0;
    }
  }
  @include keyframes(slideOut) {
    from {
      top: 0;
    }
    to {
      top: -100%;
      visibility: hidden;
    }
  }
  @include animation(slideIn 1s ease-out, slideOut 2s ease-in 6s forwards);

  &:hover {
    @include animation-play-state(paused);
  }

  .success {
    background-color: $success-colour;
  }

  .error {
    background-color: $error-colour;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  li {
    border-bottom: solid 5px $dark-gray;

    & > span {
      display: block;
      @include outer-container;
      padding: $small-spacing $base-spacing;
    }
  }
}
