fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

#{$all-text-inputs},
select[multiple],
.select2 .select2-container {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

.select2-container {
  color: $base-font-color;

  .select2-results__option--highlighted[aria-selected] {
    background-color: $medium-blue;
  }

  .select2-selection {
    .select2-selection__choice {
      background-color: $blue;
      color: #fff;
      border: $base-border;
    }

   .select2-selection__choice__remove {
      color: $base-font-color;
    }
  }

  &.select2-container--focus .select2-selection {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.select {
  position: relative;

	select {
		position: relative;
		padding: .6em 2em .4em 1em;
		cursor: pointer;
		@include appearance(none);
    width: 100%;
    border: none;
    border-radius: $base-border-radius;
    color: $base-font-color;

		&::-ms-expand {
	      display: none;
		}
	}

	&::after {
    @include icon-font();
		content: "\e602";
		position: absolute;
		z-index: 1;
		right: 1em;
		top: 1em;
    color: $base-font-color;
    pointer-events: none;
	}
}
