@font-face {
    font-family: 'opentrials';
    src:    url('#{$path-to-fonts}/opentrials/opentrials.eot?b2fxzg');
    src:    url('#{$path-to-fonts}/opentrials/opentrials.eot?b2fxzg#iefix') format('embedded-opentype'),
        url('#{$path-to-fonts}/opentrials/opentrials.ttf?b2fxzg') format('truetype'),
        url('#{$path-to-fonts}/opentrials/opentrials.woff?b2fxzg') format('woff'),
        url('#{$path-to-fonts}/opentrials/opentrials.svg?b2fxzg#opentrials') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin icon-font() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'opentrials' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon-font();
}

.icon-link:before {
    content: "\e916";
}
.icon-flag:before {
    content: "\e910";
}
.icon-close:before {
    content: "\e911";
}
.icon-insert_drive_file:before {
    content: "\e912";
}
.icon-delete:before {
    content: "\e913";
}
.icon-more_vert:before {
    content: "\e90e";
}
.icon-twitter:before {
    content: "\e900";
}
.icon-mail:before {
    content: "\e901";
}
.icon-messages:before {
    content: "\e902";
}
.icon-behavioral:before {
    content: "\e914";
}
.icon-treatment:before {
    content: "\e917";
}
.icon-procedure:before {
    content: "\e915";
}
.icon-pill:before {
    content: "\e905";
}
.icon-man:before {
    content: "\e906";
}
.icon-man-woman:before {
    content: "\e907";
}
.icon-woman:before {
    content: "\e908";
}
.icon-arrow-circle-o-down:before {
    content: "\e909";
}
.icon-arrow-circle-o-up:before {
    content: "\e90a";
}
.icon-eye-slash:before {
    content: "\e90b";
}
.icon-eye:before {
    content: "\e90c";
}
.icon-log-out:before {
    content: "\e90f";
}
.icon-calendar:before {
    content: "\e90d";
}
.icon-creative-commons-attribution:before {
    content: "\e600";
}
.icon-creative-commons:before {
    content: "\e601";
}
.icon-chevron-thin-down:before {
    content: "\e602";
}
.icon-play:before {
    content: "\e903";
}
.icon-search:before {
    content: "\e904";
}
