input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
  display: block;
  flex: none;
  align-self: flex-start;
  margin: auto 0;
}

.search-bar {
  position: relative;

  input[type="search"] {
    box-shadow: $form-box-shadow;
    padding-right: 3em;

    @include MQ(M) {
      font-size: em(18);
      border-radius: 5px;
    }

    + button {
      position: absolute;
      bottom: 2em;
      right: 2em;
      width: 3em;
      height: 2.2em;
      background-color: transparent;
      color: $base-font-color;

      span {
        @include hide-text;
        display: block;
      }

      &:before {
        @include icon-font();
        content: "\e904";
        font-size: 2.2em;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      }
    }
  }
}

.home,
.banner {
  .search-bar {
    input[type="search"] {
      padding: 1em 3.5em 1em 1.5em;

      + button {
        top: 50%;
        bottom: auto;
        height: 3em;
        right: 1em;
        margin-top: -2em;

        &:before {
          font-size: 3em;
        }
      }
    }
  }

  .advanced {
    display: none;

    &.visible {
      display: block;
    }

    & > div,
    .size,
    .date {
      label,
      legend {
        text-align: left;
        font-weight: normal;
      }
    }

    & > div {
      margin-bottom: $small-spacing;

      @include MQ(M) {
        @include span-columns(6);
        @include omega(2n);
      }
    }

    .size,
    .date {
      div {
        @include MQ(M) {
          @include span-columns(3 of 6);
        }
      }
    }
  }
}
