.hastip {
  &:after {
    $icon-size: 1.5em;
    content: '?';
    display: inline-block;
    background-color: $dark-gray;
    width: $icon-size;
    height: $icon-size;
    text-align: center;
    line-height: $icon-size;
    border-radius: 50%;
    color: $base-background-color;
    margin-left: 0.5em;
    opacity: 0.5;
    font-size: 0.9em;
    font-weight: normal;
  }
}
