@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('#{$path-to-fonts}/texgyreheros/texgyreheros-regular-webfont.eot');
    src: url('#{$path-to-fonts}/texgyreheros/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-regular-webfont.woff') format('woff'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-regular-webfont.ttf') format('truetype'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('#{$path-to-fonts}/texgyreheros/texgyreheros-italic-webfont.eot');
    src: url('#{$path-to-fonts}/texgyreheros/texgyreheros-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-italic-webfont.woff') format('woff'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-italic-webfont.ttf') format('truetype'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-italic-webfont.svg#texgyreherositalic') format('svg');
    font-weight: normal;
    font-style:italic;
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('#{$path-to-fonts}/texgyreheros/texgyreheros-bold-webfont.eot');
    src: url('#{$path-to-fonts}/texgyreheros/texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-bold-webfont.woff') format('woff'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-bold-webfont.ttf') format('truetype'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('#{$path-to-fonts}/texgyreheros/texgyreheros-bolditalic-webfont.eot');
    src: url('#{$path-to-fonts}/texgyreheros/texgyreheros-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-bolditalic-webfont.woff') format('woff'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-bolditalic-webfont.ttf') format('truetype'),
         url('#{$path-to-fonts}/texgyreheros/texgyreheros-bolditalic-webfont.svg#texgyreherosbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1,
h2 {
  padding-bottom: 0.3em;
  border-bottom: solid 1px rgba($dark-gray, 0.1);

  &.disabled {
    color: rgba($base-font-color, 0.6);
    border-bottom-color: rgba($medium-gray, 0.6);
  }
}

h1 {
  font-size: em(24);
  font-weight: normal;

  @include MQ(M) {
    font-size: em(36);
  }
}

h2 {
  font-size: em(20);
  margin-top: 1.5em;

  @include MQ(M) {
    font-size: em(22);
  }
}

article {
  a {
    font-weight: bold;
  }
}

aside {
  @include MQ(M) {
    & > * {
      font-size: 90%;
    }

    h2 {
      font-size: em(18);
    }
  }

  p {
    a {
      font-weight: bold;
    }
  }

  dl,
  ul:not(.actions) {
    a {
      color: inherit;

      &:after {
        @include icon-font();
        content: " \e916";
        opacity: 0.8;
      }
    }
  }
}

p {
  margin: 0 0 $small-spacing;

  &.disabled {
    color: rgba($base-font-color, 0.6);
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: $mono-font-family;
}
